<h1>Description</h1>
<hr />
<h2>Test</h2>
<ul class="text-primary">
    <li><h4>Perform CRUD Operation using Database-first Approach.</h4></li>

    <li><h4>Implement search functionality to search records into the database by Name field using the AJAX.</h4></li>
    <li><h4>Implement paging functionality in the listing page so that only 10 records should be displayed at 
        a time and also display a list of page numbers, So on a click of each page number records corresponding 
        to that page number should be displayed.</h4></li>
</ul>