<div>
    <h1>Description</h1>
    <hr />
    <h2>Test</h2>
    <ul class="text-primary">
        <h4><li>Create an MVC Project to demonstrate Entity Framework with Code First migration.</li></h4>
        <h4><li>Create below Designation and Employee tables columns & data type using the Code First migration</li></h4>
        <h4><li>Implement CRUD functionality for both tables.</li></h4>
        <h4><li>While implementing Insert/Update functionality for Employee table, 
        a list of inserted Designations should be displayed to the user. Whichever 
        designation is selected by the user should be inserted/updated into the database.</li></h4>
        <h4><li>Add a button to the page and on click of that button, Columns should be 
        displayed with the help of LINQ query. Columns are Employee Id, First Name, 
        Middle Name, Last Name, Designation Name, DOB, Mobile Number, Address & Salary.</li></h4>
        <h4><li>Add a button to the page and on click of that button, display the count 
        number of records of the employee by designation name using LINQ query.</li></h4>
</ul>
</div>