<div>
    <h1>Description</h1>
    <hr />
    <h2>Test 1</h2>
    <ul class="text-primary">
        <li><h4>Create a table employee with the following columns & data type using the table designer view</h4></li>

        <li><h4>There should be each action on the controller for create, update, delete & view</h4></li>
        <li><h4>Use Partial views to create views for create, update & delete</h4></li>
        <li><h4>Perform below query using ADO.Net MVC.</h4></li>
        <li><h4>Write an insert query to insert a record in the above table</h4></li>
        <li><h4>Insert some extra records into the table for testing</h4></li>
        <li><h4>Write an Update query to change the First Name to “SQLPerson” for the first record</h4></li>
        <li><h4>Write an Update query to change the Middle Name to “I” for all records</h4></li>
        <li><h4>Write a delete query to delete record having Id column value less than 2</h4></li>
        <li><h4>Write a query to delete all the data from the table</h4></li>
    </ul>
    <hr />

    <h2>Test 2</h2>
    <ul class="text-primary">
        <li><h4>Create a table employee with the following columns & data type</h4></li>

        <li><h4>Perform below query using ADO.Net MVC.</h4></li>
        <li><h4>Insert records in the above table</h4></li>
        <li><h4>Write an SQL query to find the total amount of salaries</h4></li>
        <li><h4>Write an SQL query to find all employees having DOB less than 01-01-2000</h4></li>
        <li><h4>Write an SQL query to count employees having Middle Name NULL</h4></li>
    </ul>
    <hr />

    <h2>Test 3</h2>
    <ul class="text-primary">
        <li><h4>Create two tables with following columns & data type Table 1: Designation Table 3: Employee</h4></li>

        <li><h4>Perform below query using ADO.Net MVC.</h4></li>
        <li><h4>Insert records in the above two tables</h4></li>
        <li><h4>Write a query to count the number of records by designation name</h4></li>
        <li><h4>Write a query to display First Name, Middle Name, Last Name & Designation name</h4></li>
        <li><h4>Create a database view that outputs Employee Id, First Name, Middle Name, Last Name, Designation, DOB, Mobile Number, Address & Salary</h4></li>
        <li><h4>Create a stored procedure to insert data into the Designation table with required parameters</h4></li>
        <li><h4>Create a stored procedure to insert data into the Employee table with required parameters</h4></li>
        <li><h4>Write a query that displays only those designation names that have more than 1 employee</h4></li>
        <li><h4>Create a stored procedure that returns a list of employees with columns Employee Id, First Name, Middle Name, Last Name, Designation, DOB, Mobile Number, Address & Salary (records should be ordered by DOB)</h4></li>
        <li><h4>Create a stored procedure that return a list of employees by designation id (Input) with columns Employee Id, First Name, Middle Name, Last Name, DOB, Mobile Number, Address & Salary (records should be ordered by First Name)</h4></li>
        <li><h4>Create Non-Clustered index on the DesignationId column of the Employee table</h4></li>
        <li><h4>Write a query to find the employee having maximum salary</h4></li>
    </ul>
</div>
