<div>
    <h1>Description</h1>
    <hr />
    <h2>Test</h2>
    <ul class="text-primary">
        <h4><li>Create an MVC Project to demonstrate Entity Framework with Code First migration.</li></h4>
        <h4><li>Create a table employee with the following columns & data type using the Code First migration.</li></h4>
        <h4><li>Create a listing page that lists all the records from the table.</li></h4>
        <h4><li>The “Create New” link should open a page that helps users to insert a record into the database.</li></h4>
        <h4><li>On click of the “Edit” link, the user should be displayed a page that can update the records</li></h4>
        <h4><li>On click of the “Delete” link, the user should be asked for confirmation with Yes/No button & on click of the Yes button that record should be deleted.</li></h4>
    </ul>
</div>