<div>
    <h1>Description</h1>
    <hr />
    <h2>Test 1</h2>
    <ul class="text-primary">
        <li><h4>Create an MVC Page such that the string value passed from the URL should be displayed on the web page.</h4></li>
        <li><h4>For example, if the URL is http://localhost:61465/Employee/Mark, then “Mark” should be displayed on the 
            web page where Employee is the controller Name.</h4></li>
        <li><h4>Use Route to create an appropriate route for the same.</h4></li>
    </ul>
    <hr />

    <h2>Test 2</h2>
    <ul class="text-primary">
        <li><h4>Create MVC Page to display a demo of various type of Action Results like ContentResult, FileContentResult, 
            EmptyResult, JavaScriptResult, JsonResult, etc.</h4></li>
    </ul>
    <hr />

    <h2>Test 3</h2>
    <ul class="text-primary">
        <li><h4>Create an MVC Project for a demo of OutputCache Filter. The output of the Controller action should be 
            cached for 5 minutes, and the action should return the Current date time as a string. 
            So, after implementing the filter, the same date-time will be displayed for an interval of 5 minutes.</h4></li>
    </ul>
    <hr />

    <h2>Test 4</h2>
    <ul class="text-primary">
        <li><h4>Create an MVC Project for a demo of Exception Filter. Create an action that throws DivideByZeroException 
        and use the exception filter to handle the error properly.</h4></li>
    </ul>
</div>
