<div>
    <h1>Description</h1>
    <hr />
    <h2>Test 2</h2>
    <ul class="text-primary">
        <li><h4>Create an MVC project for the demo of CRUD functionality using partial views. The user should save the output to a static list created in the controller. The fields to be used for forms should be Name, Date of birth, Address, etc.</h4></li>
        <li><h4>There should be each action on the controller for create, update, delete & view</h4></li>
        <li><h4>Use Partial views to create views for create, update & delete</h4></li>
    </ul>
</div>
