<h2>Action Result</h2><hr />
<ul>
    <li><h4>Append <span class="text-primary">/ContentResultDemo</span> in current URL to view output of ContentResult.</h4><hr /></li>
    <li><h4>Append <span class="text-primary">/FileContentResultDemo</span> in current URL to view output of FileContentResult.</h4><hr /></li>
    <li><h4>Append <span class="text-primary">/EmptyResultDemo</span> in current URL to view output of EmptyResult.</h4><hr /></li>
    <li><h4>Append <span class="text-primary">/JavaScriptResultDemo</span> in current URL to view output of JavaScriptResult.</h4><hr /></li>
    <li><h4>Append <span class="text-primary">/JsonResultDemo</span> in current URL to view output of JsonResult.</h4></li>
</ul>
